{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Order details
{% endblock %}

{% block content %}
<h1>Your shopping cart</h1>
<form action="" method="POST">
    {%csrf_token%}
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>                
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <a href="{{ item.product.get_absolute_url }}">
                        <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                </td>
                <td>{{ item.product.name }}</td>
                <td>
                    {{item.quantity}}
                </td>
                <td>
                    <input type="checkbox" name="items" value="{{item.order_id}},{{item.id}}">
                </td>
                <td class="num">${{ item.price }}</td>
                <td class="num">${{ item.total_price }}</td>
            </tr>
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ total }}</td>
        </tr>
        </tbody>
    </table>
    <div class='text-right'>
        <button><a href="{% url 'order_cancel' order_id %}">Cancel order</a></button>
        <button type="submit">Save</button>
    </div>
</form>

<p class="text-right">
</p>
{% endblock %}
